{% extends "base.html" %}

  {% block titulo %}Users{% endblock %}

  {% block contenido %}
    <h1>All Users</h1>
    <table class="table table-hover">
      <thead class="table-dark">
        <td>ID</td>
        <td>Full Name</td>
        <td>Email</td>
        <td>Created At</td>
        <td>Actions</td>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{user.id}}</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.created_at}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <a href="/users/{{user.id}}" type="button" class="btn btn-success">Show</a>
                <a href="/users/{{user.id}}/edit" type="button" class="btn btn-info">Edit</a>
                <a href="/users/{{user.id}}/delete" type="button" class="btn btn-danger">Delete</a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-primary" href="/users/new">Create new user</a>
  {% endblock %}
