{% extends "base.html" %}

  {% block titulo %}User{% endblock %}

  {% block contenido %}
    <div class="d-flex justify-content-between align-items-center">
      <h1>User {{user.id}}</h1>
      <a class="btn btn-primary" href="/users">Home</a>
    </div>
    <div>
      <p>Full name: {{user.first_name}} {{user.last_name}}</p>
      <p>Email: {{user.email}}</p>
      <p>Created On: {{user.created_at}}</p>
      <p>Last Updated On: {{user.updated_at}}</p>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="/users/{{user.id}}/edit" type="button" class="btn btn-info">Edit</a>
      <a href="/users/{{user.id}}/delete" type="button" class="btn btn-danger">Delete</a>
    </div>
  {% endblock %}
