{% extends "base.html" %}

  {% block titulo %}New Ninja{% endblock %}

  {% block estilos %}
    <style>
      .dojos{
        border: 2px solid black;
        padding: 3px;
      }
    </style>
  {% endblock %}

  {% block contenido %}
    <div class="container d-flex">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h1>New Dojo</h1>
        </div>
        <form method="post" action="/create_dojo">
          <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>

      <div class="container">
        <h1>All Dojos</h1>
        <div class="dojos  mt-3 mb-3 d-flex flex-column">
          {% for dojo in dojos%}
            <a href="/dojos/{{dojo.id}}">{{dojo.name}}</a>
          {% endfor %}
        </div>
        <a href="/ninjas">Add Ninja</a>
      </div>
    </div>
  {% endblock %}
